<template name="users">
  <div class="container">
    <div class="section">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <table class="striped js-sortable">
              <thead>
                <tr>
                  <th data-field="name" class="u-pointer">Gallery Name</th>
                  <th data-field="galleryemail" class="u-pointer">Gallery Email</th>
                  <th data-field="useremail" class="u-pointer">User Email</th>
                  <th data-field="average" data-sorter="false">Extend Deadline</th>
                </tr>
              </thead>
              <tbody>
              {{#each users}}
                <tr>
                  <td>
                    <a href="/submissions/{{userId}}">{{galleryName}}</a>
                  </td>
                  <td>
                    {{galleryEmail}}
                  </td>
                  <td>
                    {{#each emails}}{{address}}{{/each}}
                  </td>
                  <td>
                    {{#if extended}}
                    <a href="#" class="btn red btn-small unextend">Unextend</a>
                    {{else}}
                    <a href="#" class="btn btn-small extend">Extend</a>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>