<template name="homepage">
  <div class="container">
  	<div class="section">
	  	<div class="row">
	  		<div class="col s12 u-align-center">
	  			<p><img src="images/logo.png"></p>
	  		</div>
      </div>
      <div class="row">
        <div class="col s12 u-align-center">
          <p class="flow-text">{{_ "homepage-line1"}}</p>
          <p class="flow-text">{{_ "homepage-line2"}}</p>

  	  		<a class="indigo darken-4 waves-effect waves-light btn-large continue" data-lang="es">Español</a>
          <a class="indigo darken-4 waves-effect waves-light btn-large continue" data-lang="en">English</a>

        </div>
	 		</div>
	 	</div>
  </div>
</template>