<template name="homepage">
  <div class="container">
  	<div class="section">
	  	<div class="row">
	  		<div class="col s12 u-align-center">
	  			<p><img src="images/logo.png"></p>
	  		</div>

	  		<div class="col m6 s12 u-align-center">
	  			<p class="flow-text">Bienvenidos a la aplicación en línea de Material Art Fair 2016. Para proceder en español, por favor haz click en registrar para empezar una nueva aplicación o haz click en ingresar para seguir trabajando en una aplicación existente.</p>
  	  		<a class="indigo darken-4 waves-effect waves-light btn-large" id="es-registrar">Registrar</a>
  	  		<a class="indigo darken-4 waves-effect waves-light btn-large" id="es-ingresar">Ingresar</a>
	  		</div>

        <div class="col m6 s12 u-align-center">
	  			<p class="flow-text">Welcome to the online application for Material Art Fair 2016. To proceed in English, please click register to begin a new application or login to continue working on an existing application.</p>
  	  		<a href="/signup" class="indigo darken-4 waves-effect waves-light btn-large" id="en-register">Register</a>
  	  		<a href="/login" class="indigo darken-4 waves-effect waves-light btn-large" id="en-login">Login</a>
	  		</div>
	 		</div>
	 	</div>
  </div>
</template>