<template name="homepage">
  <div class="container">
  	<div class="section">
	  	<div class="row">
	  		<div class="col s12 u-align-center">
	  			<p><img src="images/logo.png"></p>
	  			<p class="flow-text">{{_ "homepage-welcome"}}</p>
	  		</div>
	  		{{#if isLoggedIn}}
	  		<div class="col s12 u-align-center">
  	  		<a id="continue" class="indigo darken-4 waves-effect waves-light btn-large">{{_ "continue"}}</a>
	  		</div>
	  		{{else}}
	  		<div class="col s6 u-align-center">
  	  		<a id="start" class="indigo darken-4 waves-effect waves-light btn-large">Start</a>
	  		</div>
	  		<div class="col s6 u-align-center">
  	  		<a id="empezar" class="indigo darken-4 waves-effect waves-light btn-large">Empezar</a>
	  		</div>
	  		{{/if}}
	 		</div>
	 	</div>
  </div>
</template>