<template name="welcome">
  <div class="container">
  	<div class="section">
	  	<div class="row">
	  		<div class="col s12 u-align-center">
	  			<p><img src="images/logo.png"></p>
	  		</div>

	  		<div class="col s12 u-align-center">
	  			<p class="flow-text">{{_ "welcome"}}</p>
  	  		<a class="indigo darken-4 waves-effect waves-light btn-large" href="/signup">{{_ "sign_up"}}</a>
  	  		<a class="indigo darken-4 waves-effect waves-light btn-large" href="/login">{{_ "login"}}</a>
	  		</div>

	 		</div>
	 	</div>
  </div>
</template>