<template name="header">
  <header id="header">
    <nav>
      <div class="nav-wrapper row">
        <div class="col s12">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isLoggedIn}}
              <li><a href="/" class="log-out">Log Out</a></li>
            {{else}}
              <li><a href="{{pathFor 'signup'}}">Sign Up</a></li>
              <li><a href="{{pathFor 'login'}}">Log In</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>
