<template name="status">
  <div class="container">
    <div class="submissions-started section">
      <h4>{{_ "submissions-started"}}</h4>
      <div class="row">
      {{#each started}}
        <div class="col m6 s12">
          <div class="card-panel">
            <a href="/submissions/{{userId}}">
              <h5>{{galleryName}}</h5>
            </a>
            <p>{{city}}{{#if state}}, {{state}}{{/if}}<br>
            {{country}}</p>
            <p>{{contactName}}<br>
            <a href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
            {{contactPhone}}</p>

            <ul>
              {{#if galleryHistory}}
                <li><i class="material-icons">done</i> {{_ "history"}}</li>
              {{/if}}
              {{#if standProposal}}
                <li><i class="material-icons">done</i> {{_ "proposal"}}</li>
              {{/if}}
              {{#if artists}}
                <li><i class="material-icons">done</i> {{_ "artist"}}</li>
              {{/if}}
              {{#if booth}}
                <li><i class="material-icons">done</i> {{_ "booth-selection"}}</li>
              {{/if}}
            </ul>

          </div>
        </div>
      {{/each}}
      </div>
    </div>

    <div class="submissions-submitted section">
      <h4>{{_ "submissions-submitted"}}</h4>
      <div class="row">
      {{#each submitted}}
        <div class="col m6 s12">
          <div class="card-panel">
            <a href="/submissions/{{userId}}">
              <h5>{{galleryName}}</h5>
            </a>
            <p>{{city}}{{#if state}}, {{state}}{{/if}}<br>
            {{country}}</p>
            <p>{{contactName}}<br>
            <a href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
            {{contactPhone}}</p>
          </div>
        </div>
      {{/each}}
      </div>
    </div>

    <div class="divider"></div>

    <div class="submissions-signed section">
      <h4>{{_ "submissions-signed"}}</h4>
      <div class="row">
      {{#each signed}}
        <div class="col m6 s12">
          <div class="card-panel">
            <a href="/submissions/{{userId}}">
              <h5>{{galleryName}}</h5>
            </a>
            <p>{{city}}{{#if state}}, {{state}}{{/if}}<br>
            {{country}}</p>
            <p>{{contactName}}<br>
            <a href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
            {{contactPhone}}</p>

            {{#if isAdmin}}
              <div class="card-action">
                <a href="#" class="mark-as-paid">Mark as paid</a>
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
      </div>
    </div>

    <div class="divider"></div>

    <div class="submissions-paid section">
      <h4>{{_ "submissions-paid"}}</h4>
      <div class="row">
      {{#each paid}}
        <div class="col m6 s12">
          <div class="card-panel">
            <a href="/submissions/{{userId}}">
              <h5>{{galleryName}}</h5>
            </a>
            <p>{{city}}{{#if state}}, {{state}}{{/if}}<br>
            {{country}}</p>
            <p>{{contactName}}<br>
            <a href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
            {{contactPhone}}</p>
          </div>
        </div>
      {{/each}}
      </div>
    </div>

    <div class="divider"></div>

    <div class="submissions-approved section">
      <h4>{{_ "submissions-approved"}}</h4>
      <div class="row">
      {{#each approved}}
        <div class="col m6 s12">
          <div class="card-panel">
            <a href="/submissions/{{userId}}">
              <h5>{{galleryName}}</h5>
            </a>
            <p>{{city}}{{#if state}}, {{state}}{{/if}}<br>
            {{country}}</p>
            <p>{{contactName}}<br>
            <a href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
            {{contactPhone}}</p>
          </div>
        </div>
      {{/each}}
      </div>
    </div>
  </div>
</template>