<template name="status">
  <div class="container">

    <div class="submissions-started section">
      <div class="card">
        <div class="card-content">
          <h4>{{_ "submissions-started"}}</h4>
          <div class="row">
            <table class="striped js-sortable">
              <thead>
                <tr>
                  <th data-field="image" data-sorter="false">{{_ "submissions-image"}}</th>
                  <th data-field="name" data-empty="bottom">{{_ "submissions-name"}}</th>
                  <th data-field="location" data-empty="bottom">{{_ "submissions-location"}}</th>
                  <th data-field="history" data-empty="zero">{{_ "submissions-history"}}</th>
                  <th data-field="proposal" data-empty="zero">{{_ "submissions-proposal"}}</th>
                  <th data-field="artists" data-empty="zero">{{_ "submissions-artists"}}</th>
                  <th data-field="booth" data-empty="zero">{{_ "submissions-booth"}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each started}}
                <tr>
                  <td>
                    {{#if artists.[0].work.[0].image}}
                    <a href="/submissions/{{userId}}">
                      <img src="{{artists.[0].work.[0].image}}" alt="" style="max-width: 70px">
                    </a>
                    {{/if}}
                  </td>
                  <td>
                    <a href="/submissions/{{userId}}">{{galleryName}}</a>
                  </td>
                  <td>
                    {{city}}{{#if state}}, {{state}}{{/if}}<br>
                    {{country}}
                  </td>
                  <td>
                    {{#if galleryHistory}}
                    <i class="material-icons">done</i>
                    {{/if}}
                  </td>
                  <td>
                    {{#if standProposal}}
                    <i class="material-icons">done</i>
                    {{/if}}
                  </td>
                  <td>
                    {{#if artists}}
                    <i class="material-icons">done</i>
                    {{/if}}
                  </td>
                  <td>
                    {{#if booth}}
                    <i class="material-icons">done</i>
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="submissions-submitted section">
      <div class="card">
        <div class="card-content">
          <h4>{{_ "submissions-submitted"}}</h4>
          <div class="row">
            <table class="striped js-sortable">
              <thead>
                <tr>
                  <th data-field="image" data-sorter="false">{{_ "submissions-image"}}</th>
                  <th data-field="name" data-empty="bottom">{{_ "submissions-name"}}</th>
                  <th data-field="location" data-empty="bottom">{{_ "submissions-location"}}</th>
                  <th data-field="contact" data-empty="bottom">{{_ "submissions-contact"}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each submitted}}
                <tr>
                  <td>
                    {{#if artists.[0].work.[0].image}}
                    <a href="/submissions/{{userId}}">
                      <img src="{{artists.[0].work.[0].image}}" alt="" style="max-width: 70px">
                    </a>
                    {{/if}}
                  </td>
                  <td>
                    <a href="/submissions/{{userId}}">{{galleryName}}</a>
                  </td>
                  <td>
                    {{city}}{{#if state}}, {{state}}{{/if}}<br>
                    {{country}}
                  </td>
                  <td>
                    <a href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
                    {{contactPhone}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="submissions-signed section">
      <div class="card">
        <div class="card-content">
          <h4>{{_ "submissions-signed"}}</h4>
          <div class="row">
            <table class="striped js-sortable">
              <thead>
                <tr>
                  <th data-field="image" data-sorter="false">{{_ "submissions-image"}}</th>
                  <th data-field="name" data-empty="bottom">{{_ "submissions-name"}}</th>
                  <th data-field="location" data-empty="bottom">{{_ "submissions-location"}}</th>
                  <th data-field="contact" data-empty="bottom">{{_ "submissions-contact"}}</th>
                  {{#if isAdmin}}
                    <th data-field="mark" data-sorter="false">{{_ "submissions-mark-paid"}}</th>
                  {{/if}}
                </tr>
              </thead>
              <tbody>
                {{#each signed}}
                <tr>
                  <td>
                    {{#if artists.[0].work.[0].image}}
                    <a href="/submissions/{{userId}}">
                      <img src="{{artists.[0].work.[0].image}}" alt="" style="max-width: 70px">
                    </a>
                    {{/if}}
                  </td>
                  <td>
                    <a href="/submissions/{{userId}}">{{galleryName}}</a>
                  </td>
                  <td>
                    {{city}}{{#if state}}, {{state}}{{/if}}<br>
                    {{country}}
                  </td>
                  <td>
                    <a href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
                    {{contactPhone}}
                  </td>
                  {{#if isAdmin}}
                  <td>
                    <a href="#" class="btn btn-small mark-as-paid">{{_ "submissions-mark-paid"}}</a>
                  </td>
                  {{/if}}
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="submissions-paid section">
      <div class="card">
        <div class="card-content">
          <h4>{{_ "submissions-paid"}}</h4>
          <div class="row">
            <table class="striped js-sortable">
              <thead>
                <tr>
                  <th data-field="image" data-sorter="false">{{_ "submissions-image"}}</th>
                  <th data-field="name" data-empty="bottom">{{_ "submissions-name"}}</th>
                  <th data-field="location" data-empty="bottom">{{_ "submissions-location"}}</th>
                  <th data-field="contact" data-empty="bottom">{{_ "submissions-contact"}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each paid}}
                <tr>
                  <td>
                    {{#if artists.[0].work.[0].image}}
                    <a href="/submissions/{{userId}}">
                      <img src="{{artists.[0].work.[0].image}}" alt="" style="max-width: 70px">
                    </a>
                    {{/if}}
                  </td>
                  <td>
                    <a href="/submissions/{{userId}}">{{galleryName}}</a>
                  </td>
                  <td>
                    {{city}}{{#if state}}, {{state}}{{/if}}<br>
                    {{country}}
                  </td>
                  <td>
                    <a href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
                    {{contactPhone}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>