<template name="submissions">
  <div class="container">
  	<div class="submissions-submitted">
  		<h4>{{_ "submissions-submitted"}}</h4>
			<div class="row">
			{{#each submitted}}
			  <div class="col m6 s12">
          <div class="card-panel indigo darken-4 white-text">
            <h5>
		  			<a href="/submissions/{{userId}}">
		  				{{galleryName}}
		  			</a>
	  			</h5>
		  		{{#with address}}
		  		<p>{{city}}, {{state}}</p>
		  		{{/with}}
		  		{{#with contact}}
		  		<p>{{name}}<br>
		  		{{email}}<br>
		  		{{phone}}</p>
		  		{{/with}}
          </div>
      	</div>
			{{/each}}
			</div>
		</div>
		<div class="submissions-signed">
  		<h4>{{_ "submissions-signed"}}</h4>
			<div class="row">
			{{#each signed}}
			  <div class="col m6 s12">
          <div class="card-panel yellow darken-4 white-text">
            <h5>
		  			<a href="/submissions/{{userId}}">
		  				{{galleryName}}
		  			</a>
	  			</h5>
		  		{{#with address}}
		  		<p>{{city}}, {{state}}</p>
		  		{{/with}}
		  		{{#with contact}}
		  		<p>{{name}}<br>
		  		<a href="mailto:{{email}}">{{email}}</a><br>
		  		{{phone}}</p>
		  		{{/with}}
          </div>
      	</div>
			{{/each}}
			</div>
		</div>
		<div class="submissions-paid">
  		<h4>{{_ "submissions-paid"}}</h4>
			<div class="row">
			{{#each paid}}
			  <div class="col m6 s12">
          <div class="card-panel cyan darken-4 white-text">
            <h5>
		  			<a href="/submissions/{{userId}}">
		  				{{galleryName}}
		  			</a>
	  			</h5>
		  		{{#with address}}
		  		<p>{{city}}, {{state}}</p>
		  		{{/with}}
		  		{{#with contact}}
		  		<p>{{name}}<br>
		  		<a href="mailto:{{email}}">{{email}}</a><br>
		  		{{phone}}</p>
		  		{{/with}}
          </div>
      	</div>
			{{/each}}
			</div>
		</div>
		<div class="submissions-approved">
  		<h4>{{_ "submissions-approved"}}</h4>
			<div class="row">
			{{#each approved}}
			  <div class="col m6 s12">
          <div class="card-panel teal darken-4 white-text">
            <h5>
		  			<a href="/submissions/{{userId}}">
		  				{{galleryName}}
		  			</a>
	  			</h5>
		  		{{#with address}}
		  		<p>{{city}}, {{state}}</p>
		  		{{/with}}
		  		{{#with contact}}
		  		<p>{{name}}<br>
		  		<a href="mailto:{{email}}">{{email}}</a><br>
		  		{{phone}}</p>
		  		{{/with}}
          </div>
      	</div>
			{{/each}}
			</div>
		</div>
  </div>
</template>