<template name="submissionReview">
  <div class="container">
    <h3>{{application.galleryName}}</h3>
    <div class="section">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text">{{_ "schemas.application.general.label"}}</span>
          <div class="section">
            <strong>{{_ "schemas.application.address.label"}}</strong>
            <p>
              {{application.address1}}<br>
              {{#if application.address2}}{{application.address2}}<br>{{/if}}
              {{application.city}}{{#if application.state}}, {{application.state}}{{/if}}{{#if application.postalCode}} {{application.postalCode}}{{/if}}<br>
              {{application.country}}
            </p>
          </div>

          <div class="divider"></div>
          <div class="section">
            <strong>{{_ "schemas.application.galleryPhone.label"}}</strong>
            <p>{{application.galleryPhone}}</p>
          </div>

          <div class="divider"></div>
          <div class="section">
            <strong>{{_ "schemas.application.galleryEmail.label"}}</strong>
            <p>
              <a href="mailto:{{application.galleryEmail}}">{{application.galleryEmail}}</a>
            </p>
          </div>

          <div class="divider"></div>
          {{#if application.website}}
          <div class="section">
            <strong>{{_ "schemas.application.website.label"}}</strong>
            <p>
              <a href="{{website}}" target="_blank">{{website}}</a>
            </p>
          </div>

          <div class="divider"></div>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="section">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text">{{_ "schemas.application.social.label"}}</span>
          {{#if application.twitter}}
          <div class="section">
            <strong>{{_ "schemas.application.twitter.label"}}</strong>
            <p>
              <a href="https://twitter.com/{{twitter}}" target="_blank">https://twitter.com/{{twitter}}</a>
            </p>
          </div>
          <div class="divider"></div>
          {{/if}}
          {{#if application.facebook}}
          <div class="section">
            <strong>{{_ "schemas.application.facebook.label"}}</strong>
            <p>
              <a href="{{facebook}}" target="_blank">{{facebook}}</a>
            </p>
          </div>
          <div class="divider"></div>
          {{/if}}
          {{#if application.tumblr}}
          <div class="section">
            <strong>{{_ "schemas.application.tumblr.label"}}</strong>
            <p>
              <a href="{{tumblr}}" target="_blank">{{tumblr}}</a>
            </p>
          </div>
          <div class="divider"></div>
          {{/if}}
          {{#if application.instagram}}
          <div class="section">
            <strong>{{_ "schemas.application.instagram.label"}}</strong>
            <p>
              <a href="https://instagram.com/{{instagram}}" target="_blank">https://instagram.com/{{instagram}}</a>
            </p>
          </div>
          <div class="divider"></div>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="section">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text">{{_ "schemas.application.contact.label"}}</span>
          <div class="section">
            <strong>{{_ "schemas.application.contactName.label"}}</strong>
            <p>{{application.contactName}}</p>
          </div>
          <div class="divider"></div>
          <div class="section">
            <strong>{{_ "schemas.application.contactEmail.label"}}</strong>
            <p>
              <a href="mailto:{{application.contactEmail}}">{{application.contactEmail}}</a>
            </p>
          </div>
          <div class="divider"></div>
          <div class="section">
            <strong>{{_ "schemas.application.contactPhone.label"}}</strong>
            <p>{{application.contactPhone}}</p>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text">{{{_ "schemas.application.proposal.label"}}}</span>
          <div class="section">
            <strong>{{_ "schemas.application.galleryHistory.label"}}</strong>
            <p>
            {{#with application.galleryHistory}}
            {{this}}<br>
            {{/with}}
            </p>
          </div>
          <div class="divider"></div>
          <div class="section">
            <strong>{{_ "schemas.application.artistsRepresented.label"}}</strong>
            <p>
            {{#with application.artistsRepresented}}
            {{this}}<br>
            {{/with}}
            </p>
          </div>
          <div class="divider"></div>
          <div class="section">
            <strong>{{_ "schemas.application.galleryYear.label"}}</strong>
            <p>{{application.galleryYear}}</p>
          </div>
          <div class="divider"></div>
          <div class="section">
            <strong>{{_ "schemas.application.participation.label"}}</strong>
            <p>{{application.participation}}</p>
          </div>
          <div class="divider"></div>
          <div class="section">
            <strong>{{_ "schemas.application.standProposal.label"}}</strong>
            <p>
            {{#with application.standProposal}}
            {{this}}<br>
            {{/with}}
            </p>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text">{{_ "schemas.application.artists.title"}}</span>
          {{#each application.artists}}
          <div class="array-section">

            <div class="section">
              <strong>{{_ "schemas.application.artists.$.name.label"}}</strong>
              <p>{{name}}</p>
            </div>

            <div class="divider"></div>

            <div class="section">
              <strong>{{_ "schemas.application.artists.$.cv.label"}}</strong>
              <p>
                <a class="btn-floating blue doc-upload-link" href="{{cv}}" target="_blank">
                  <i class="zmdi zmdi-file-text"></i>
                </a>
              </p>
            </div>

            {{#each work}}
            <div class="divider"></div>
            <div class="array-section">
              <div class="section">
                <strong>{{_ "schemas.application.artists.$.work.$.image.label"}}</strong>
                <p>
                  <img src="{{image}}" class="js-materialize-boxed u-max-width-none" width="200">
                </p>
              </div>
              <div class="divider"></div>
              <div class="section">
                <strong>{{_ "schemas.application.artists.$.work.$.workTitle.label"}}</strong>
                <p>{{workTitle}}</p>
              </div>
              <div class="divider"></div>
              <div class="section">
                <strong>{{_ "schemas.application.artists.$.work.$.medium.label"}}</strong>
                <p>{{medium}}</p>
              </div>
              <div class="divider"></div>
              <div class="section">
                <strong>{{_ "schemas.application.artists.$.work.$.dimensions.label"}}</strong>
                <p>{{dimensions}}</p>
              </div>
              <div class="divider"></div>
              <div class="section">
                <strong>{{_ "schemas.application.artists.$.work.$.year.label"}}</strong>
                <p>{{year}}</p>
              </div>
            </div>
            {{/each}}
          <div class="divider"></div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="section">
      <div class="card">
        <div class="card-content">
          <span class="card-title grey-text">{{_ "schemas.application.booth.label"}}</span>
          <div id="booth-list">{{application.booth}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h3>Ratings</h3>
    <div class="card">
      <div class="card-content">
        <div class="section">
          <span class="card-title grey-text">Average Rating</span>
          {{#if application.rating}}
          <h4>{{application.rating}}</h4>
          {{else}}
          <h4>Not rated</h4>
          {{/if}}
        </div>
        <div class="section">
          <span class="card-title grey-text">Your Rating</span>

          <ul class="u-inline-list">
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="1">1</li>
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="2">2</li>
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="3">3</li>
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="4">4</li>
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="5">5</li>
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="6">6</li>
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="7">7</li>
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="8">8</li>
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="9">9</li>
            <li class="js-set-rating btn-floating u-align-center yellow darken-4" data-value="10">10</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h3>Comments</h3>
    <div class="section">
      {{#each comments}}
      <div class="card">
        <div class="card-content">
          <span class="card-title black-text">
            <strong>{{displayUsername userId}}</strong> {{formatCommentTimestamp timestamp}}
          </span>
          <p>{{{breaklines comment}}}</p>
        </div>

        {{#if isCommentOwner}}
        <div class="card-action">
          <a href="#" class="js-comment-delete">Delete</a>
        </div>
        {{/if}}

      </div>
      {{/each}}
    </div>
    <div class="section">
      <div class="card">
        <div class="card-content">
          {{#autoForm schema="CommentSchema" collection="Comments" id="add-comment-form" type="insert"}}
            <input type="hidden" id="application-id" name="applicationId" value="{{application._id}}" />
            {{> afQuickField name='comment'}}
            <button type="submit" id="submit-add-comment" class="btn btn-primary">Add Comment</button>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>