<template name="submissions">
  <div class="container">
    <div class="section">
      <h4>{{_ "submissions-for-consideration"}}</h4>
      <div class="row">
      {{#each paid}}
        <div class="col m6 s12">
          <div {{ifNoRatingShowRed}}>
            <span class="card-title">
              <a href="/submissions/{{userId}}">
                <h5>{{galleryName}}</h5>
              </a>
            </span>
            <p>{{city}}{{#if state}}, {{state}}{{/if}}<br>
            {{country}}</p>
            {{#if rating}}
            <div class="submission-rating">
              <h6>{{rating}} / 10</h6>
            </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
      </div>
    </div>

    <div class="divider"></div>

    <div class="submissions-approved section">
      <h4>{{_ "submissions-approved"}}</h4>
      <div class="row">
      {{#each approved}}
        <div class="col m6 s12">
          <div class="card-panel">
            <span class="indigo-text text-darken-4">{{_ "dashboard-application_status-approved"}}</span><br>
            <a href="/submissions/{{userId}}">
              <h5>{{galleryName}}</h5>
            </a>
            <p>{{city}}{{#if state}}, {{state}}{{/if}}<br>
            {{country}}</p>
            <p>{{contactName}}<br>
            <a href="mailto:{{contactEmail}}">{{contactEmail}}</a><br>
            {{contactPhone}}</p>
          </div>
        </div>
      {{/each}}
      </div>
    </div>
  </div>
</template>