<template name="saved">
  <div class="section">
    <h3>{{_ "application-introduction"}}</h3>
    <p>{{_ "application-introduction-text"}}</p>
  </div>
  <div class="row">
    {{#autoForm schema="ApplicationSchema" collection="Applications" doc=this id="insertApplicationForm" type="update" buttonContent="Review" omitFields="submitted, signed, paid, approved, rating" }}
    <div class="col s10">
      <div class="section">
        {{> afObjectField name='general' }}
      </div>
      <div class="divider"></div>
      <div class="section">
        {{> afObjectField name='address' }}
      </div>
      <div class="divider"></div>
      <div class="section">
        {{> afObjectField name='contact' }}
      </div>
      <div class="divider"></div>
      <div class="section">
        {{> afObjectField name='social' }}
      </div>
      <div class="divider"></div>
      <div class="section">
        {{> afObjectField name='proposal' template='materialized' }}
      </div>
      <div class="section">
        <div class="progress">
          <div class="indeterminate" style="width: 70%"></div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="section">
        <button id="submitApplication" type="submit" class="btn btn-primary">{{_ "application-review"}}</button>
      </div>
    </div>
    {{/autoForm}}
    <div class="col s2">
      <button id="saveApplication" type="submit" class="btn btn-default">{{_ "application-save"}}</button>
    </div>
  </div>


  <!-- LEAVE THIS HERE, HELPS FOR TESTING -->
  <!--    {{> quickForm schema="Schemas.applicationForm" collection="Applications" doc=this id="insertApplicationForm" type="update" buttonContent="Review" omitFields="submitted,signed,paid,approved, rating" }}
  -->
</template>
