<template name="approved">
  <div class="section">
    <h3>{{_ "exhibitor-area"}}</h3>
    <p class="flow-text">{{_ "exhibitor-congratulations"}}</p>
    <div class="collection">
      <a href="/exhibitor/general" class="collection-item">
        <h5>{{_ "exhibitor-general"}}</h5>
      </a>
      <a href="/exhibitor/badges" class="collection-item">
        <h5>{{_ "exhibitor-badges"}}</h5>
      </a>
      <a href="/exhibitor/vip" class="collection-item">
        <h5>{{_ "exhibitor-vip"}}</h5>
      </a>
      <a href="/exhibitor/events" class="collection-item">
        <h5>{{_ "exhibitor-events"}}</h5>
      </a>
      <a href="/exhibitor/floorplan" class="collection-item">
        <h5>{{_ "exhibitor-floorplan"}}</h5>
      </a>
      <a href="/exhibitor/transport" class="collection-item">
        <h5>{{_ "exhibitor-transport"}}</h5>
      </a>
      <a href="/exhibitor/guide" class="collection-item">
        <h5>{{_ "exhibitor-guide"}}</h5>
      </a>
      <a href="/exhibitor/logo" class="collection-item">
        <h5>{{_ "exhibitor-logo"}}</h5>
      </a>
    </div>
  </div>
</template>
