<template name="pdf">
<div style="font-family: sans-serif">
	<img src="images/logo.png" width="20" height="20"><br>
	<h3>Material Art Fair Application</h3>

	<h4>{{_ "schemas.application.general.label"}}</h4>

	<strong>{{_ "schemas.application.galleryName.label"}}</strong>
	<p>{{galleryName}}</p>

	<strong>{{_ "schemas.application.address1.label"}}</strong>
	<p>{{address1}}</p>

	{{#if address2}}
	<strong>{{_ "schemas.application.address2.review"}}</strong>
	<p>{{address2}}</p>
	{{/if}}

	<strong>{{_ "schemas.application.city.label"}}</strong>
	<p>{{city}}</p>

	{{#if state}}
	<strong>{{_ "schemas.application.state.review"}}</strong>
	<p>{{state}}</p>
	{{/if}}

	{{#if postalCode}}
	<strong>{{_ "schemas.application.postalCode.review"}}</strong>
	<p>{{postalCode}}</p>
	{{/if}}

	<strong>{{_ "schemas.application.country.label"}}</strong>
	<p>{{country}}</p>

	<strong>{{_ "schemas.application.galleryPhone.label"}}</strong>
	<p>{{galleryPhone}}</p>

	<strong>{{_ "schemas.application.galleryEmail.label"}}</strong>
	<p>{{galleryEmail}}</p>

	<strong>{{_ "schemas.application.website.label"}}</strong>
	<p>{{website}}</p>

	<h4>{{_ "schemas.application.social.label"}}</h4>

	{{#if twitter}}
	<strong>{{_ "schemas.application.twitter.label"}}</strong>
	<p>{{twitter}}</p>
	{{/if}}

	{{#if facebook}}
	<strong>{{_ "schemas.application.facebook.label"}}</strong>
	<p>{{facebook}}</p>
	{{/if}}

	{{#if tumblr}}
	<strong>{{_ "schemas.application.tumblr.label"}}</strong>
	<p>{{tumblr}}</p>
	{{/if}}

	{{#if instagram}}
	<strong>{{_ "schemas.application.instagram.label"}}</strong>
	<p>{{instagram}}</p>
	{{/if}}

	<h4>{{_ "schemas.application.proposal.label"}}</h4>

	<strong>{{_ "schemas.application.galleryHistory.label"}}</strong>
	<p>{{galleryHistory}}</p>

	<strong>{{_ "schemas.application.artistsRepresented.label"}}</strong>
	<p>{{artistsRepresented}}</p>

	<strong>{{_ "schemas.application.galleryYear.label"}}</strong>
	<p>{{galleryYear}}</p>

	<strong>{{_ "schemas.application.participation.label"}}</strong>
	<p>{{participation}}</p>

	<strong>{{_ "schemas.application.standProposal.label"}}</strong>
	<p>{{standProposal}}</p>

	<h4>{{_ "schemas.application.artists.title"}}</h4>

	{{#each artists}}

	<strong>{{_ "schemas.application.artists.$.name.label"}}</strong>
	<p>{{name}}</p>

	{{#each work}}

	<strong>{{_ "schemas.application.artists.$.work.$.image.label"}}</strong>
	<p><img src="{{image}}" class="image-upload-thumbnail" width="50"></p>

	<strong>{{_ "schemas.application.artists.$.work.$.workTitle.label"}}</strong>
	<p>{{workTitle}}</p>

	<strong>{{_ "schemas.application.artists.$.work.$.medium.label"}}</strong>
	<p>{{medium}}</p>

	<strong>{{_ "schemas.application.artists.$.work.$.dimensions.label"}}</strong>
	<p>{{dimensions}}</p>

	<strong>{{_ "schemas.application.artists.$.work.$.year.label"}}</strong>
	<p>{{year}}</p>

	{{/each}}

	{{/each}}

	<h4>{{_ "schemas.application.booth.label"}}</h4>
	{{booth}}

	<h4>{{_ "application-terms"}}</h4>
	{{{_ "application-terms-text"}}}

	<h4>{{_ "schemas.sign.signature.title"}}</h4>
	<p>{{_ "application-terms-confirmation"}}</p>
	<p>{{signatureName}}</p>
	<p>{{signatureGallery}}</p>
	<p>{{signatureDate}}</p>
	<img src="{{signature}}" width="100" height="30">

	<p>{{_ "application-terms-accept"}}</p>
</div>
</template>