<template name="pdf">
	<h3>Material Art Fair</h3>
  <div class="row">
  	<div class="col s12">
		  <div class="section">
			  <ul class="collection">
			  	<li class="collection-item">
			  		<strong>{{_ "application-gallery_name"}}</strong>
			  		<p>{{galleryName}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>{{_ "application-address"}}</strong>
			  		<p>{{#with address}}
			  		{{line1}}<br>
			  		{{#if line2}}
			  		{{line2}}<br>
			  		{{/if}}
			  		{{city}}, {{state}} {{postalCode}}
			  		{{/with}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>{{_ "application-gallery_year"}}</strong>
			  		<p>{{galleryYear}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>{{_ "application-participation"}}</strong>
			  		<p>{{participation}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>{{_ "application-website"}}</strong>
			  		<p>{{website}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>Twitter</strong>
			  		<p>{{twitter}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>Facebook</strong>
			  		<p>{{facebook}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>Tumblr</strong>
			  		<p>{{tumblr}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>Instagram</strong>
			  		<p>{{instagram}}</p>
			  	</li>
			  </ul>
			</div>
		  {{#with contact}}
		  <div class="section">
			  <ul class="collection">
			  	<li class="collection-item">
			  		<strong>{{_ "application-contact-name"}}</strong>
			  		<p>{{name}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>Email</strong>
			  		<p>{{email}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>{{_ "application-contact-phone"}}</strong>
			  		<p>{{phone}}</p>
			  	</li>
				</ul>
			</div>
			{{/with}}
			<div class="section">
		  {{#each artists}}
			  <ul class="collection">
			  	<li class="collection-item">
			  		<strong>{{_ "application-artists-name"}}</strong>
			  		<p>{{name}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>{{_ "application-artists-title"}}</strong>
			  		<p>{{workTitle}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>{{_ "application-artists-medium"}}</strong>
			  		<p>{{medium}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>{{_ "application-artists-dimensions"}}</strong>
			  		<p>{{dimensions}}</p>
			  	</li>
			  	<li class="collection-item">
			  		<strong>{{_ "application-artists-year"}}</strong>
			  		<p>{{year}}</p>
			  	</li>
			  </ul>
		  {{/each}}
		  </div>
		  <div class="section">
			  <ul class="collection">
			  	<li class="collection-item">
			  		<strong>{{_ "application-booth"}}</strong>
			  		<p>{{boothType}}</p>
			  	</li>
			  </ul>
			</div>
		</div>
	</div>
	<div class="section" id="terms">
  	<h4>{{_ "application-terms"}}</h4>
  	<p>{{_ "application-terms-text"}}</p>
  </div>
	<div class="section">
		<h4>{{_ "application-signature"}}</h4>
		<div class="row">
			<div class="col s12">
				<img src="{{signature}}" width="100">
	    </div>
		</div>
  </div>
</template>
