<template name="signed">
  <p class="flow-text">{{_ "application-please_pay"}}</p>
  <form id="transaccion" name="transaccion" enctype="application/x-www- form-urlencoded" action="" method="post">
    <input type="hidden" value="{{ _id }}" id="application-id">
  	<div class="row">
	  	<div class="input-field col s12 m6">
		  	<input type="text" name="nombre" id="first-name" placeholder='{{_ "application-pay-first_name"}}'>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="nombre" id="last-name" placeholder='{{_ "application-pay-last_name"}}'>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<input type="text" name="numeroTarjeta" id="card-number" placeholder="XXXX XXXX XXXX XXXX">
				<label for="numeroTarjeta" class="active required">{{_ "application-pay-card_number"}}</label>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="cvt" id="cvc" placeholder="XXX">
				<label for="cvt" class="active required">{{_ "application-pay-cvc"}}</label>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="mesExpiracion" id="exp-month" placeholder="MM">
				<label for="mesExpiracion" class="active required">{{_ "application-pay-exp_month"}}</label>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="anyoExpiracion" id="exp-year" placeholder="YY">
				<label for="anyoExpiracion" class="active required">{{_ "application-pay-exp_year"}}</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<input type="text" name="calleyNumero" id="address-1" placeholder='{{_ "application-pay-address_1"}}'>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="colonia" id="address-2" placeholder='{{_ "application-pay-address_2"}}'>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="municipio" id="city" placeholder='{{_ "application-pay-city"}}' value="{{city}}">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="cp" id="postal-code" placeholder='{{_ "application-pay-postal_code"}}' value="{{postalCode}}">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="estado" id="state" placeholder='{{_ "application-pay-state"}}' value="{{state}}">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="pais" id="country" placeholder='{{_ "application-pay-country"}}'>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<input type="text" name="telefono" id="phone" placeholder="XXX XXX XXXX" value="{{contact.phone}}">
				<label for="telefono" class="active required">{{_ "application-pay-phone"}}</label>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="telefono" id="cell" placeholder="XXX XXX XXXX" value="{{contact.phone}}">
				<label for="telefono" class="active required">{{_ "application-pay-cell"}}</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
  			<p class="flow-text">{{_ "application-pay-confirm"}}</p>
				<input type="submit" name="submit" id="submit-payment" class="btn" value="pay">
			</div>
		</div>
	</form>

	<div id="alt-payment-modal" class="modal">
    <div class="modal-content">
      <h4>Looks like you're having problems with the payment. Would you like to request an alternative payment?</h4>
    </div>
    <div class="modal-footer">
      <a id="request-alt" class="modal-action modal-close waves-effect waves-green btn-flat ">Yes please</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat ">No thanks</a>
    </div>
  </div>
</template>
