<template name="signed">
  <p>{{_ "application-please_pay"}}</p>
  <form id="transaccion" name="transaccion" enctype="application/x-www- form-urlencoded" action="" method="post">
  	<div class="row">
	  	<div class="input-field col s12 m6">
		  	<input type="text" name="nombre" id="first-name" placeholder='{{_ "application-pay-first_name"}}' value="First">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="nombre" id="last-name" placeholder='{{_ "application-pay-last_name"}}' value="Last"> 
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<input type="text" name="numeroTarjeta" id="card-number" placeholder="XXXX XXXX XXXX XXXX"  value="1234 5678 9101 2131">
				<label for="numeroTarjeta" class="active required">{{_ "application-pay-card_number"}}</label>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="cvt" id="cvc" placeholder="XXX" value="123">
				<label for="cvt" class="active required">{{_ "application-pay-cvc"}}</label>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="mesExpiracion" id="exp-month" placeholder="MM" value="01">
				<label for="mesExpiracion" class="active required">{{_ "application-pay-exp_month"}}</label>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="anyoExpiracion" id="exp-year" placeholder="YY" value="18">
				<label for="anyoExpiracion" class="active required">{{_ "application-pay-exp_year"}}</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<input type="text" name="calleyNumero" id="address-1" placeholder='{{_ "application-pay-address_1"}}' value="Street 123">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="colonia" id="address-2" placeholder='{{_ "application-pay-address_2"}}' value="111">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="municipio" id="city" placeholder='{{_ "application-pay-city"}}' value="City">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="cp" id="postal-code" placeholder='{{_ "application-pay-postal_code"}}' value="123456">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="estado" id="state" placeholder='{{_ "application-pay-state"}}' value="State">
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="pais" id="country" placeholder='{{_ "application-pay-country"}}' value="Country">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<input type="text" name="telefono" id="phone" placeholder="1 55 5555 5555" value="1 55 5555 5555">
				<label for="telefono" class="active required">{{_ "application-pay-phone"}}</label>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" name="telefono" id="cell" placeholder="1 55 5555 5555" value="1 55 5555 5555">
				<label for="telefono" class="active required">{{_ "application-pay-cell"}}</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 u-align-center">
				<input type="submit" name="submit" id="submit-payment" class="btn" value="pay">
			</div>
		</div>
		
	</form>
</template>
