<template name="submitted">
	<h3>{{{_ "application-review_sign"}}}</h3>
  <div class="section">
	  <div class="card">
	  	<div class="card-content">
	  		<span class="card-title grey-text">{{_ "schemas.application.general.label"}}</span>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.galleryName.label"}}</strong>
		  		<p>{{galleryName}}</p>
		  	</div>

		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.address1.label"}}</strong>
		  		<p>{{address1}}</p>
		  	</div>

		  	{{#if address2}}
		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.address2.review"}}</strong>
		  		<p>{{address2}}</p>
		  	</div>
		  	{{/if}}

		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.city.label"}}</strong>
		  		<p>{{city}}</p>
		  	</div>

		  	{{#if state}}
		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.state.review"}}</strong>
		  		<p>{{state}}</p>
		  	</div>
		  	{{/if}}

		  	{{#if postalCode}}
		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.postalCode.review"}}</strong>
		  		<p>{{postalCode}}</p>
		  	</div>
		  	{{/if}}

		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.country.label"}}</strong>
		  		<p>{{country}}</p>
		  	</div>

		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.galleryPhone.label"}}</strong>
		  		<p>{{galleryPhone}}</p>
		  	</div>

		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.galleryEmail.label"}}</strong>
		  		<p>{{galleryEmail}}</p>
		  	</div>

		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.website.label"}}</strong>
		  		<p>{{website}}</p>
		  	</div>

		  	<div class="divider"></div>
		  </div>
	  </div>
	</div>

	<a class="btn edit">{{_ "application-edit"}}</a>

	<div class="section">
		<div class="card">
	  	<div class="card-content">
	  		<span class="card-title grey-text">{{_ "schemas.application.social.label"}}</span>
	  		{{#if twitter}}
		  	<div class="section">
		  		<strong>{{_ "schemas.application.twitter.label"}}</strong>
		  		<p>{{twitter}}</p>
		  	</div>
		  	<div class="divider"></div>
		  	{{/if}}
		  	{{#if facebook}}
		  	<div class="section">
		  		<strong>{{_ "schemas.application.facebook.label"}}</strong>
		  		<p>{{facebook}}</p>
		  	</div>
		  	<div class="divider"></div>
		  	{{/if}}
		  	{{#if tumblr}}
		  	<div class="section">
		  		<strong>{{_ "schemas.application.tumblr.label"}}</strong>
		  		<p>{{tumblr}}</p>
		  	</div>
		  	<div class="divider"></div>
		  	{{/if}}
		  	{{#if instagram}}
		  	<div class="section">
		  		<strong>{{_ "schemas.application.instagram.label"}}</strong>
		  		<p>{{instagram}}</p>
		  	</div>
		  	<div class="divider"></div>
		  	{{/if}}
			</div>
		</div>
	</div>

	<a class="btn edit">{{_ "application-edit"}}</a>

	<div class="section">
		<div class="card">
	  	<div class="card-content">
	  		<span class="card-title grey-text">{{_ "schemas.application.proposal.label"}}</span>
	  		<div class="section">
		  		<strong>{{_ "schemas.application.galleryHistory.label"}}</strong>
		  		{{#each galleryHistory}}
		  		{{this}}<br>
		  		{{/each}}
		  	</div>
		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.artistsRepresented.label"}}</strong>
		  		{{#each artistsRepresented}}
		  		{{this}}<br>
		  		{{/each}}
		  	</div>
		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.galleryYear.label"}}</strong>
		  		<p>{{galleryYear}}</p>
		  	</div>
		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.participation.label"}}</strong>
		  		<p>{{participation}}</p>
		  	</div>
		  	<div class="divider"></div>
		  	<div class="section">
		  		<strong>{{_ "schemas.application.standProposal.label"}}</strong>
		  		{{#each standProposal}}
		  		{{this}}<br>
		  		{{/each}}
		  	</div>
		  	<div class="divider"></div>
			</div>
	  </div>
	</div>

	<a class="btn edit">{{_ "application-edit"}}</a>

	<div class="section">
		<div class="card">
	  	<div class="card-content">
	  		<span class="card-title grey-text">{{_ "schemas.application.artists.title"}}</span>
				{{#each artists}}
			 	<div class="array-section">

		  		<div class="section">
			  		<strong>{{_ "schemas.application.artists.$.name.label"}}</strong>
			  		<p>{{name}}</p>
		  		</div>

		  		<div class="divider"></div>

		  		<div class="section">
			  		<strong>{{_ "schemas.application.artists.$.cv.label"}}</strong>
			  		<p>
				  		<a class="btn-floating blue doc-upload-link" href="{{cv}}" target="_blank">
					      <i class="zmdi zmdi-file-text"></i>
					    </a>
				    </p>
		  		</div>

			  	{{#each work}}
			  	<div class="divider"></div>
			  	<div class="array-section">
			  		<div class="section">
				  		<strong>{{_ "schemas.application.artists.$.work.$.image.label"}}</strong>
				  		<p><img src="{{image}}" class="image-upload-thumbnail"></p>
			  		</div>
			  		<div class="divider"></div>
			  		<div class="section">
				  		<strong>{{_ "schemas.application.artists.$.work.$.workTitle.label"}}</strong>
				  		<p>{{workTitle}}</p>
				  	</div>
			  		<div class="divider"></div>
			  		<div class="section">
				  		<strong>{{_ "schemas.application.artists.$.work.$.medium.label"}}</strong>
				  		<p>{{medium}}</p>
			  		</div>
			  		<div class="divider"></div>
			  		<div class="section">
				  		<strong>{{_ "schemas.application.artists.$.work.$.dimensions.label"}}</strong>
				  		<p>{{dimensions}}</p>
			  		</div>
			  		<div class="divider"></div>
			  		<div class="section">
				  		<strong>{{_ "schemas.application.artists.$.work.$.year.label"}}</strong>
				  		<p>{{year}}</p>
			  		</div>
				  </div>
			  	{{/each}}
			  <div class="divider"></div>
			  </div>
			  {{/each}}
		  </div>
	  </div>
  </div>

  <a class="btn edit">{{_ "application-edit"}}</a>

  <div class="section">
		<div class="card">
	  	<div class="card-content">
	  		<span class="card-title grey-text">{{_ "schemas.application.booth.label"}}</span>
	  		<div id="booth-list">{{booth}}</div>
	  	</div>
	  </div>
	</div>

	<div class="section">
		<div class="card">
			<div class="card-content">
				<h5>{{_ "application-terms"}}</h5>
				<div class="terms-and-conditions">{{{_ "application-terms-text"}}}</div>
			</div>
		</div>
	</div>

  {{#autoForm schema="SignatureSchema" collection="Applications" doc=this id="signApplication" type="update" }}
  <div class="section">
  	<div class="card">
			<div class="card-content">
				<h4>{{_ "schemas.sign.signature.title"}}</h4>
				<p>{{_ "application-terms-confirmation"}}</p>
				{{> afQuickField name='signatureName'}}
				{{> afQuickField name='signatureGallery'}}
				{{> afQuickField name='signatureDate'}} 
				<label>{{_ "schemas.sign.signature.signHere"}}</label>
        {{> afFormGroup name='signature' label=false}}
				<a id="clearSign" class="u-pointer">{{_ "application-signature-clear"}}</a>
				<div class="section">
					<div class="divider"></div>
					<p>{{_ "application-terms-accept"}}</p>
				</div>
		  	<a class="btn edit">{{_ "application-edit"}}</a>
			  <a class="btn indigo darken-4" id="reviewSign">{{_ "application-submit"}}</a>
			</div>
		</div>
	</div>
	{{/autoForm}}

</template>