<template name="forgot">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h4>{{_ "forgot-header"}}</h4>
        </div>
      </div>
      <form>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="email" type="text" value="" />
            <label class="active">Email</label>
          </div>
          <div class="form-actions">
            <div class="col s12">
              <input type="submit" class="waves-effect waves-light btn" value="{{_ 'forgot-submit'}}" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>