<template name="login">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <p>Material Art Fair, Vol. III<br />Expo Reforma<br />{{_ "fair-timescale"}}</p>
          <h3>{{_ "login-header"}}</h3>
          {{{_ "login-copy"}}}
        </div>
      </div>
      <form>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="email" type="text" value="" />
            <label class="active">Email</label>
          </div>
          <div class="input-field col s12">
              <input id="password" type="password" value="" />
              <label class="active">{{_ "password"}}</label>
          </div>
          <div class="form-actions">
            <div class="col s12">
              <input type="submit" class="waves-effect waves-light btn" value="{{_ 'login'}}" />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        <div class="col s12">
          <a href="/forgot">{{_ "forgot_password"}}</a>
        </div>
      </div>
    </div>
  </div>
</template>
