<template name="signup">
  <div class="container">
    <div class="section">
      <h4>{{_ "browser-warning"}}</h4>
      <form>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="email" type="text" value="" />
            <label class="active">Email</label>
          </div>
          <div class="input-field col s12">
              <input id="password" name="password" type="password" value="" />
              <label class="active">{{_ "password"}}</label>
          </div>
          <div class="form-actions">
            <div class="col s12">
              <input type="submit" class="waves-effect waves-light btn" value='{{_ "sign_up"}}' />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>