// Colors
$color-yellow = #fff176;
$color-yellow-dark = #fdd835;

// Basic
body 
  background-image: url(images/shapes_bg.png)
  background-repeat: repeat

// Header
nav ul .switch
  padding: 0px 15px
  label .lever
    background-color: $color-yellow
    &::after
      background-color: $color-yellow-dark

// Application
#insertApplicationForm .progress
  opacity: 0

// Forms
#signature-card
  height: 300px
  
.array-section .array-section
  padding-left: 5%
  
.array-btn-container
  display: block
  margin-bottom: 15px
  text-align: right

canvas[name='signature']
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

.upload-form
  margin: 10px 0 15px
  
.image-upload-thumbnail
  max-height: 120px
  width: auto
  display: block
  margin-bottom: 10px

.terms-and-conditions
  max-height: 300px
  overflow: scroll
  font-size: .8em
  padding: 10px
  border: 1px solid lightgrey
  
.card .card-content p 
  margin-bottom: 10px
  
.booth-size
  padding-left: 35px
  

// Footer
#footer
  min-height: 5em