// Colors
$color-yellow = #fff176;
$color-yellow-dark = #fdd835;

// Header
nav ul .switch
  padding: 0px 15px
  label .lever
    background-color: $color-yellow
    &::after
      background-color: $color-yellow-dark

// Application
#insertApplicationForm .progress
  opacity: 0

// Forms
#signature-card
  height: 300px

canvas[name='signature.signature']
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

.image-upload-thumbnail
  max-height: 100px
  width: auto
  display: block
  margin-top: 10px

.terms-and-conditions
  max-height: 300px
  overflow: scroll
  font-size: .8em

// Footer
#footer
  min-height: 5em